@font-face {
    font-family: "first";
    src: url("first.ttf");
}


body 
{
    background-color: #141418;
}


canvas
{
    border: thin solid  #14A76C;
    border-radius: 8%;
}


.Text
{
    font-family: "first";
    font-size: 16pt;
    text-align: center;
    color: #747474;
    margin-right: 2%;
}


.Input
{
    font-family: "first";
    font-size: 14pt;
    text-align: center;
    color: #14A76C;
    border: 2px solid #272727;
    border-radius: 5px;
    background-color: #272727;
    width: 10%;
    height: 2%;
    padding: 0.01%;
}


.Main 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}


.Container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.Buttons
{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    text-align: center;
}


.btns
{
    font-family: "first";
    background-color: #272727;
    color: rgb(235, 58, 93);
    border: 2px solid #272727;
    border-radius: 10px;
    font-size: 1.2pc;
}


.btns:hover {
    background-color:  rgb(235, 58, 93);
    color: #272727;
}


.btns:active {
    box-shadow: 0 5px rgb(51 51 51);
    transform: translateY(4px);
}


#header1 
{
    font-family: "first";
    font-size: 30pt;
    text-align: center;
    color: #FF652F;
}


#StartButton
{
    margin-right: 2%;
}
